body
{
    margin:0;
    display:flex;
    flex-direction:column;
}
.header{
    display:flex;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: bolder;
    font-size: 15px;;
    justify-content: baseline;
    justify-content: space-around;
    align-items: center;
    /* background-color: aqua; */
    height:66px;
    position:sticky;
    top:0px;
    background-color: white;
}
.logo
{
    padding:30px;
}
.logo:hover
{
    cursor: pointer;
}

.opts{
    display:flex;
    flex-direction:row;
    margin-left:200px;
    /* margin-top:7px; */
    justify-content: baseline;
    display: inline-flex;
}
#options:hover{
    color:rgb(30, 131, 232);
    cursor:pointer;
}
#options
{
    color:gray;
    margin-left:30px;

}
.footer
{
    background-color: blue;
}
.content
{
    background-color:white;
    text-align: center;
}
.marginline
{
    width:100%;
    height:1px;
    background-color: rgb(191, 190, 190);
}
.d1
{
    /* background-color: brown; */
    height:750px;
    width:100%;
    margin-bottom: 100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap:wrap; */
}
.d2
{
    /* background-color: blue; */
    height:100%;
    width:100%;
    margin-top:100px;
    margin-bottom:100px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    /* flex-wrap:wrap; */
}
.d3
{
    /* background-color: blanchedalmond; */
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:100%;
    text-align:start;

}
.txtholder2
{
    /* background-color: blue; */
    padding:20px;
    width:500px;
}
.picholder2
{
    /* background-color: blueviolet; */

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.d4
{
    /* background-color: cadetblue; */
    height:500px;
    width:100%;
    margin-top:200px;
    margin-bottom:5px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    /* flex-wrap:wrap; */
}
.d5
{
    /* background-color: darkorange; */
    height:500px;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    /* flex-wrap:wrap; */
}
.d6
{
    /* background-color: blueviolet; */
    height:300px;
    width:100%;
    margin-bottom:50px;
    /* margin-top:10px; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap:wrap; */
}
.frontpic1
{
    margin-bottom:25px;
}
.head
{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size:50px;
    margin-top:45px;
}
.txt
{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style:normal;
    font-size:22.5px;
}
.signup
{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style:bold;
    font-size:20px;
    background-color:#387ed1;
    color:white;
    padding:5px;
    width:180px;
    border-radius: 5%;
    text-shadow: none;
    margin-top:45px;
}
.signup:hover{
    cursor: pointer;
    background-color: black;
}
#subheader
{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size:30px;
    padding:20px;
}
#subheaderspl
{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style:normal;
    font-size:25px;
    margin-bottom:20px;
}
#subtxt
{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size:15px;
    padding:20px;
}
#subtxtspl
{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size:15px;
    padding:5px;
}
.txtholder
{
    width:500px;
    margin-left:50px;
}
table{
    border-spacing: 0;
}
.up1
{
    margin-bottom: 20px;
}
.subtitle
{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size:22px;
}
.picholder1
{
    padding:40px;
}

.subtitle
{
    padding-left:20px;
}
.below-opts
{
    display:flex;
    flex-direction:row;
}
.below-options{
    padding:40px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style:normal;
    font-size:15px;
    color:#387ed1;
}
.below-options:hover
{
    cursor: pointer;
    color:black;
}
.below-optionsspl{
    padding-top:20px;
    padding-bottom:20px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style:normal;
    font-size:15px;
    color:#387ed1;
}
.below-optionsspl:hover
{
    cursor: pointer;
    color:black;
}
.intextcolor
{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style:normal;
    font-size:15px;
    color:#387ed1;
}
.intextcolor:hover
{
    cursor:pointer;
    color:black;
} 
.txtholder3
{
    /* background-color: rgb(78, 10, 24); */
    width:500px;


}
.picholder3
{
    /* background-color: rgba(133, 179, 23, 0.479); */
    width:500px;
    margin-left:20px;
    display:flex;
    padding:20px;

}
.firstbox
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(189, 185, 185);
    border-radius:3%;
    width:245px;
    /* padding:10px; */
}
.secondbox
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(189, 185, 185);
    border-radius:3%;
    width:245px;
}
.bigelement
{
    font-size: 60px;
}
.smallelement2
{
    margin-top:20px;
}
.txtholder5
{
    width: 550px;
    height:300px;
    margin-left:20px;
}
.picholder5
{
    margin-right:100px;
}
.compinfo:hover
{
    color:#387ed1;
    cursor:pointer;
}
.footer{
    display:flex;
    flex-direction:column;
    background-color:  rgb(242, 239, 239);
    padding-left:60px;
    padding-right:60px;

}
.endinfo{
    display:flex;
    flex-direction:row;
    padding:20px;
    justify-content: space-around;

}
.zerodha
{
    height:100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom:70px;
}
.logo{
    padding:10px;
}
.socials
{
    margin-top:10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
}
#socialpointer:hover{
    cursor: pointer;
    color:#387ed1;
}
.rights
{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size:12px;
    color:grey;
}
.subinfo
{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size:15px;
    color:grey;
    height:300px;
}
.info:hover{
    cursor: pointer;
    color:#387ed1;
}
.endinfo_head
{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style:normal;
    font-size:18px;
    margin:10px;
    color:black;
}
.info
{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size:15px;
    color:grey;
    height:300px;
}
#acc
{
    height:100px;
}
.endknowledge
{
    padding:px;
    padding-bottom:5px;
    text-align: justify;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size:11px;
    color:grey;
    line-height: 20px;
}
.endbutton
{
    color:#387ed1;
}
.endbutton:hover{
    cursor: pointer;
    color:black;
    font-weight: 300px;
}
.endfooter{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:50px;
    padding-right:50px;
    padding-bottom:20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size:12px;
    color:grey;
    text-align: center;
    height:50px;
    flex-wrap:wrap;
}
.endfooterparts
{
    padding:5px;
}
.endfooterparts:hover
{
    cursor: pointer;
    color:#387ed1;
    font-weight: 600;
}
@media(max-width:800px)
{
    .hide{
        display: none;
    }
    .d2{
        display:flex;
        flex-direction: column;
        height:1400px;
    }
    .d3{
        display:flex;
        flex-direction: column;
        width:700px;
        margin:50px;
    }
    .d4{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .picholder3
    {
        display:flex;
        flex-direction: column;
        margin-bottom:200px;
        align-items: center;
    }
    .d5{
        display:flex;
        flex-direction: column;
        height:650px;
        justify-content: space-between;
        align-items: center;
    }
    .endinfo
    {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .endknowledge
    {
        margin:none;
    }
    .endfooter
    {
        
    }
}